@import '../../../common/styles/variables.scss';

.cardTitleContainer {
    @extend %display-flex-row;
    justify-content: flex-start;

    &__line {
        width: 5px;
        height: 40px;
        border-radius: 3px;
        background: #A9A9A9;
    }

    &__taskName {
        margin-left: 13px;
        font-family: 'Abhaya Libre', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: #F4F4F4;
    }
}

.taskContainer {
    margin-top: 15px;
}