@import '../../../common/styles/variables.scss';

.toDoList {
    position: relative;
    margin: 5vh auto;
    width: 390px;
    height: 90vh;
    padding-top: 13px;
    box-sizing: border-box;
    background-color: #222222;
    border-radius: 30px;

    h1 {
        padding: 0 37px;
        box-sizing: border-box;
        @extend %display-flex-row;
        font-family: 'Actor';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        color: #F4F4F4;
    }
}

.tasksListContainer {
    width: 100%;
    height: calc(90vh - 135px);
    box-sizing: border-box;
    overflow-y: auto;
}